.dark {
  --md-sys-color-primary: rgb(238 191 109);
  --md-sys-color-surface-tint: rgb(238 191 109);
  --md-sys-color-on-primary: rgb(66 45 0);
  --md-sys-color-primary-container: rgb(94 65 0);
  --md-sys-color-on-primary-container: rgb(255 222 169);
  --md-sys-color-secondary: rgb(218 195 161);
  --md-sys-color-on-secondary: rgb(60 46 22);
  --md-sys-color-secondary-container: rgb(84 68 42);
  --md-sys-color-on-secondary-container: rgb(247 223 187);
  --md-sys-color-tertiary: rgb(179 206 166);
  --md-sys-color-on-tertiary: rgb(32 54 25);
  --md-sys-color-tertiary-container: rgb(54 77 46);
  --md-sys-color-on-tertiary-container: rgb(207 235 192);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(23 19 11);
  --md-sys-color-on-background: rgb(236 225 212);
  --md-sys-color-surface: rgb(23 19 11);
  --md-sys-color-on-surface: rgb(236 225 212);
  --md-sys-color-surface-variant: rgb(78 70 57);
  --md-sys-color-on-surface-variant: rgb(209 197 180);
  --md-sys-color-outline: rgb(154 143 128);
  --md-sys-color-outline-variant: rgb(78 70 57);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(236 225 212);
  --md-sys-color-inverse-on-surface: rgb(53 48 39);
  --md-sys-color-inverse-primary: rgb(123 88 13);
  --md-sys-color-primary-fixed: rgb(255 222 169);
  --md-sys-color-on-primary-fixed: rgb(39 25 0);
  --md-sys-color-primary-fixed-dim: rgb(238 191 109);
  --md-sys-color-on-primary-fixed-variant: rgb(94 65 0);
  --md-sys-color-secondary-fixed: rgb(247 223 187);
  --md-sys-color-on-secondary-fixed: rgb(37 26 4);
  --md-sys-color-secondary-fixed-dim: rgb(218 195 161);
  --md-sys-color-on-secondary-fixed-variant: rgb(84 68 42);
  --md-sys-color-tertiary-fixed: rgb(207 235 192);
  --md-sys-color-on-tertiary-fixed: rgb(11 32 6);
  --md-sys-color-tertiary-fixed-dim: rgb(179 206 166);
  --md-sys-color-on-tertiary-fixed-variant: rgb(54 77 46);
  --md-sys-color-surface-dim: rgb(23 19 11);
  --md-sys-color-surface-bright: rgb(62 56 47);
  --md-sys-color-surface-container-lowest: rgb(18 14 7);
  --md-sys-color-surface-container-low: rgb(32 27 19);
  --md-sys-color-surface-container: rgb(36 31 23);
  --md-sys-color-surface-container-high: rgb(47 41 33);
  --md-sys-color-surface-container-highest: rgb(58 52 43);
}
