.light-medium-contrast {
  --md-sys-color-primary: rgb(89 62 0);
  --md-sys-color-surface-tint: rgb(123 88 13);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(148 110 36);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(80 65 38);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(132 114 84);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(50 73 42);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(99 123 88);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 243);
  --md-sys-color-on-background: rgb(32 27 19);
  --md-sys-color-surface: rgb(255 248 243);
  --md-sys-color-on-surface: rgb(32 27 19);
  --md-sys-color-surface-variant: rgb(238 225 207);
  --md-sys-color-on-surface-variant: rgb(74 66 53);
  --md-sys-color-outline: rgb(103 94 80);
  --md-sys-color-outline-variant: rgb(132 121 107);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(53 48 39);
  --md-sys-color-inverse-on-surface: rgb(250 239 226);
  --md-sys-color-inverse-primary: rgb(238 191 109);
  --md-sys-color-primary-fixed: rgb(148 110 36);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(120 86 9);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(132 114 84);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(107 89 61);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(99 123 88);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(75 98 65);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(227 216 204);
  --md-sys-color-surface-bright: rgb(255 248 243);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(253 242 229);
  --md-sys-color-surface-container: rgb(247 236 223);
  --md-sys-color-surface-container-high: rgb(242 230 217);
  --md-sys-color-surface-container-highest: rgb(236 225 212);
}
